:root {
  /* Warna utama: Gradasi biru ke tosca */
  --color-primary: #06B6D4; /* Biru Cyan (Dominan) */
  --color-secondary: #2dd5bc; /* Tosca */
  
  /* Aksen dan penekanan: Nuansa biru dan tosca */
  --color-primary-emphasis: #0891B2; /* Biru yang lebih gelap */
  --color-secondary-emphasis: #0E7490; /* Biru Tua */
  
  /* Warna latar belakang terang */
  --color-lightprimary: #bdf4fa; /* Biru Cyan Sangat Muda */
  --color-lightsecondary: #d1f7ef; /* Tosca Sangat Muda */
  
  /* Warna status: Tetap seperti standar untuk kejelasan */
  --color-info: #46caeb;
  --color-success: #36C76C; /* Hijau standar untuk sukses */
  --color-warning: #FFB900;
  --color-error: #FF6692;
  
  /* Warna latar belakang terang untuk status */
  --color-lightsuccess: #d7f4e2;
  --color-lighterror: #FF669230;
  --color-lightinfo: #46caeb25;
  --color-lightwarning: #FFB90025;
  
  /* Warna dasar dan netral */
  --color-white: #fff;
  --color-dark: #111c2d;
  
  /* Garis tepi dan latar belakang */
  --color-border: #e0e6eb;
  --color-bordergray: #cfd6db;
  --color-link: #2a3547;
  --color-muted: #EFF4FA;
  --color-darklink: #7b8893;
  --color-lightgray: #f4f7fb;
}